#homeimg {
    height: 60vh;
    width: 100vw;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
}

.left img {
    width: 500px;
    object-fit: contain;
}

#container h2 {
    font-size: 4rem;
}

#container h2 span {
    color: #b471f7;
}

#container p {
    font-size: 1.2rem;
    color: grey;
}

#container {
    display: flex;
    margin: 40px 240px;
    justify-content: space-between;
    align-items: center;
}

#container img {
    mix-blend-mode: color-burn;
}

#container2 {
    padding: 40px 240px;
    align-items: center;
    background-color: #a861f0;
}

#container2 h1 {
    font-size: 1.3rem;
    color: white;
}

#container2 p {
    font-size: 2.4rem;
    color: rgb(255, 255, 255);
}