.main {
    padding: 5%;
    width: 100%;
}

.info {
    margin-left: 20px;
    display: inline-block;
    font-size: 40px;
    line-height: 30px;
}

.info img {
    width: 100px;
}

.info p {
    font-size: 16px;
    color: #828282;
    float: right;
}

.container {
    display: flex;
    justify-content: space-betwee;
    align-items: center;
    gap: 20px;
}

.left {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
}

.right {
    max-width: 40%;
}

.buy-button {
    background-color: lime;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin: 5px 0 5px 0;
}