.main {
    padding: 5%;
    width: 100%;
}

.info {
    margin-left: 20px;
    display: flex;
    font-size: 50px;
}

.info img{
    width: 100px;
}

.info p {
    color: #828282;
    float: right;
}

.container {
    display: flex;
    justify-content: space-betwee;
    align-items: center;
    gap: 20px;
}

.left {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
}

.right {
    max-width: 40%;
}

.buy-button {
    background-color: lime;
    padding: 5px;
    border-radius: 5px;
}