@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}


/* src/App.css */

.modal {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    width: 600px;
    margin: 1rem;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.asset-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    padding: 8px;
    margin-bottom: 8px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .asset-card-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
  }
  
  .asset-symbol {
    display: flex;
    align-items: center;
  }
  
  .asset-symbol span {
    margin-left: 8px;
    font-weight: bold;
    color: #007bff;
  }
  
  .asset-name, .asset-price, .asset-change, .asset-high, .asset-low, .asset-volume, .asset-mktcap, .asset-updated {
    flex: 1;
    text-align: center;
  }
  
  .buy-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
  }
  
  .buy-button:hover {
    background-color: #218838;
  }
  